#### Excellent Tutorials Series (ETS)
#### Author: Thomas K Torku
#### Topic: Overview

### Data Structures
- `Lists`: ex. [1,2,3,4] It is an object that contains data items. Lists are mutable-they can change during the program execution. Items can be added or remove from it. They are dynamic data structures. They are one-dimension
- `Arrays`: They can take from 0 -n dimension 
- `Dictionary`: They contain keys and values as data structures
- `Tuples`: They are not mutable.

In [1]:
## Lists
myList =[1,2,3,4]
print(myList)

[1, 2, 3, 4]

### Slicing

In [2]:
num =['5,10,15,20]
num[0:2]'

[5, 10]

In [3]:
num1 =[1]*10
num1
# num1

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [4]:
print(num[-1])
print(num[2])
print(num[-2])

20
15
15

#### Iterating over List

In [5]:
#Example 1
for i in num:
    print(i)

5
10
15
20

In [6]:
#Example 2
i =0
while i<len(num):
    print(num[i])
    i+=1

5
10
15
20

In [7]:
# Iterate over slist=[3,4,5,10,9,3] using for loop or while loop

#### Using in or not operator in List

In [8]:
prod_num =['V475', 'F987', 'Q143', 'R688']
search =input('Enter product number')
if search in prod_num:
    print('{} was found in list'.format(search))
else:
    print('{} was not found in list'.format(search))

Enter product number V475

V475 was found in list

#### Lists are mutuable

In [11]:
mynum =[9,4,57,90, 34, 56]
print(mynum)
#change the value of the first index
mynum[0] =20
print(mynum)

[9, 4, 57, 90, 34, 56]
[20, 4, 57, 90, 34, 56]

In [12]:
mynum[6]

IndexError: list index out of range

In [13]:
mynum1 =range(1,10,1)
# mynum1 =range(10)
#how to access the value in the list
for i in mynum1:
    print(i)
# mynum1

1
2
3
4
5
6
7
8
9

In [14]:
##change the values of the list
nn =[0]*6     #zero value of the list
#Now fill with new values
i =0
while i <len(nn):
    nn[i]=9
    #update the iteration
    i+=1

In [15]:
print(nn)

[9, 9, 9, 9, 9, 9]

In [16]:
for i in range(len(nn)):
    nn[i]=2
print(nn)

[2, 2, 2, 2, 2, 2]

In [ ]:
##Design a program that accepts the sales values from the user on each day

In [17]:
no =5
# sales =[]
sales =[0]*5  #list with zeros
i=0 #base index
while i <no:
    sales[i] =float(input('Day #'+ str(i+1)+ ''))
    #update the iterate
    i+=1

Day #1 20.3
Day #2 30.4
Day #3 45.2
Day #4 60.5
Day #5 70.

In [18]:
print('Here are the values you entered:')
for i in sales:
    print('{:.2f}'.format(i))

Here are the values you entered:
20.30
30.40
45.20
60.50
70.00

In [19]:
sales1 =[0]*5
for i in range(5):
    sales1[i]=float(input('Day #'+ str(i+1)+ ''))

Day #1 89.76
Day #2 76.45
Day #3 90.56
Day #4 34.67
Day #5 75.67

In [20]:
print('Here are the values have entered:')
for i in sales1:
    print('%.2f'%(i))

Here are the values have entered:
89.76
76.45
90.56
34.67
75.67

#### List Methods

In [24]:
# s =[]#empty list
# s =list() #empty list
s =[]
for i in range(5):
    s.append(sales1[i])
s

[89.76, 76.45, 90.56, 34.67, 75.67]

In [22]:
# s.insert(1,67.89)
# del s[1:5]

In [26]:
s.remove(75.67)

In [27]:
s

[89.76, 76.45, 90.56, 34.67]

- `append()`: adds item to the end of the list
- `index()`: returns the index of the first element equal to the item
- `insert()`: inserts item to the specified index
- `sort()`: sorts the list from ascending order
- `remove()`: removes the occurence of the item from the list
- `reverse()`: reverses the order.

In [ ]:
#example on append
nList =[]  #empty list
# nlist =list()
old =[1]*4
i =0
for i in range(len(old)):
    old[i] =90
    #append that to a new list
    nList.append(old[i])

print(old)
print(nList)

In [ ]:
old

In [ ]:
nList

In [28]:
##The index method
food =['pizza', 'burgers', 'chips', 'bread']
#Which item should I change
item =input('Which item should I change?')
try:
    #get the item's index in the list
    item_i =food.index(item)
    new_i =input('Enter the new value:')
    #replace the old item with new item
    food[item_i]=new_i
    #here is the revised list
    print('Here is the revised list:')
    print(food)
except ValueError:
    print('Item not found in the list')

Which item should I change? bread
Enter the new value: tea

Here is the revised list:
['pizza', 'burgers', 'chips', 'tea']

In [30]:
##insert method
nam1 =['James', 'Kafui', 'Thomas']
print(nam1)
nam1.insert(2, 'Priscy')
print(nam1)

['James', 'Kafui', 'Thomas']
['James', 'Kafui', 'Priscy', 'Thomas']

In [31]:
##sort method
mnlist =[1,6,3,9,4,7]
print('Original list: ',mnlist)
mnlist.sort()
print('sorted list: ',mnlist)

Original list:  [1, 6, 3, 9, 4, 7]
sorted list:  [1, 3, 4, 6, 7, 9]

In [32]:
## The reverse method
mnlist.reverse()
print('Reverse order:', mnlist)
del mnlist[2]
print('Remove item:',mnlist )

Reverse order: [9, 7, 6, 4, 3, 1]
Remove item: [9, 7, 4, 3, 1]

In [33]:
print('Minimum value is:', min(mnlist))
print('Maximum value is:', max(mnlist))

Minimum value is: 1
Maximum value is: 9

In [34]:
##Concatenating two lsits together
list1 =[0,2,3,1,4,5,6,7]
list2 =[1,5,9,3,5,0,7]
list3 =list1 +list2
print(list3)

[0, 2, 3, 1, 4, 5, 6, 7, 1, 5, 9, 3, 5, 0, 7]

In [35]:
from copy import deepcopy, copy
l1 =[]
#Any changes made do not affect the original copy
l1 =deepcopy(list2)
l1[0]=3
# list2
l1

[3, 5, 9, 3, 5, 0, 7]

### List comprehesion

In [36]:
x =[]
for i in range(6):
    x.append(1)
x

[1, 1, 1, 1, 1, 1]

In [37]:
x =[1]*6
#list comprehension
xx =[x[i] for i in x]
xx

[1, 1, 1, 1, 1, 1]

### Arrays

In [38]:
v1 =[1]*4
v2 =[3]*4
#create a two by two arrays
v =[v1, v2]
v

[[1, 1, 1, 1], [3, 3, 3, 3]]

#### Dictionary

In [39]:
##key-value store room. They also widely used.
dic ={'Name': 'Thomas Torku', 'Country': 'Ghana', 'Profession':'Instructor'}

In [40]:
dic.values()

dict_values(['Thomas Torku', 'Ghana', 'Instructor'])

In [41]:
dic.keys()

dict_keys(['Name', 'Country', 'Profession'])

In [42]:
dic['Name']

'Thomas Torku'

In [43]:
dic['Country']

'Ghana'

In [44]:
#Loop through dictionary
for i in dic.items():
    print(i)

('Name', 'Thomas Torku')
('Country', 'Ghana')
('Profession', 'Instructor')

In [45]:
for i in dic.values():
    print(i)

Thomas Torku
Ghana
Instructor

#### Tuples
- Items are defined within parenthesis
- Limited in application

In [46]:
tt =(1,2,3,4)
type(tt)

tuple

In [47]:
tt[1]

2